<div id="animate-me" hidden></div>

<select id="sel" class='browser-default' {{action 'changeAnimation' on='change'}}>
  <option value="core-transition-fade" selected>core-transition-fade</option>
  <option value="core-transition-center">core-transition-center</option>
  <option value="core-transition-top">core-transition-top</option>
  <option value="core-transition-bottom">core-transition-bottom</option>
  <option value="core-transition-left">core-transition-left</option>
  <option value="core-transition-right">core-transition-right</option>
</select>

<button {{action 'stuff'}}>toggle</button>
