core-toolbar{
  background-color: #42a5f5;
  color: black;
}
.dark-theme{
  background-color: #0d47a1;
  color: white;
}
#hero1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: orange;
}
#hero2 {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 300px;
  height: 300px;
  background-color: orange;
}
#bottom1, #bottom2 {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  height: 50px;
}
#bottom1 {
  background-color: blue;
}
#bottom2 {
  background-color: green;
}
.title{
  text-align: center;
}
.example-toolbar{
  margin-top: 10px;
}

core-animated-pages {
  position: absolute;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 72px;
  overflow: hidden;
}
.select-wrapper{
  margin-top: 1px;
}
.select-wrapper input{
  height: 60px !important;
  margin-left: 100px;
}
section > div {
  height: 100%;
  color: white;
}

#animate-me {
  background-color: lime;
  position: fixed;
  top: 300px;
  width: 100%;
  height: 100%;
}
