  <core-toolbar class='tall'>
   <paper-icon-button icon='menu'></paper-icon-button>
   <div flex class='middle'><h1 class='title'>Ember Cli Polymer Kitchen Sink App</h1></div>
   <span flex></span>
   <paper-icon-button icon='search'></paper-icon-button>
  </core-toolbar>
  {{outlet}}
