<div class="collection">
  {{#link-to 'toolbar' classNames='collection-item'}}Core-Toolbar{{/link-to}}
  {{#link-to 'transitions' classNames='collection-item'}}Transitions{{/link-to}}
</div>
            
